<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>Hello <em>Hello</em>Hello how low [x3] Hello, hello, hello With the lights out, it's less dangerous
Here we are now, entertain us I feel stupid and contagious Here we are now, entertain us A mulatto, an Albino A mosquito, my libido, yeah Hey, yay</p>
    </div>
    <div class="sidebar-module">
      
    <div class="sidebar-module">
      <h4>Elsewhere﻿</h4>
      <ol class="list-unstyled social-links">
        <li><a href="https://github.com/portichr000/git-demo-repo/tree/master/AppName"><%= fa_icon "github-alt"%></a></li>
        <li><a href="https://www.youtube.com/watch?v=cU8HrO7XuiE"><%= fa_icon "facebook"%></a></li>
        <li><a href="https://www.youtube.com/watch?v=cU8HrO7XuiE"><%= fa_icon "twitter"%></a></li>
        <li><a href="https://www.youtube.com/watch?v=cU8HrO7XuiE"><%= fa_icon "instagram"%></a></li>
        
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->